In [1]:
print("Hello World")

Hello World

# Python

In [ ]:
# comment operator 
# line wise operation
# no compulsory end of line
# two statemnets can be written in one line by separting them through semi colon

In [2]:
"Hello World"

'Hello World'

In [3]:
12 +
32

SyntaxError: invalid syntax (<ipython-input-3-700f4fb56d6f>, line 1)

In [6]:
# explicit continuation operator 
12 + \
32

44

* \ --> escape character in string --> string formats 
* \n --> new line
* \t --> tabspacce
* '\"'

#  Python Strings

within quotes 
''
"" 
are interchangeable

In [ ]:
'Great Things come From Small begining'

In [7]:
'You can\'t rise up by pulling others down'

"You can't rise up by pulling others down"

In [8]:
"You can't rise up by pulling others down"

"You can't rise up by pulling others down"

## Multiline String

In [9]:
'''To be, or not to be, that is the question:
Whether 'tis nobler in the mind to suffer
The slings and arrows of outrageous fortune,
Or to take Arms against a Sea of troubles,
And by opposing end them: '''

"To be, or not to be, that is the question:\nWhether 'tis nobler in the mind to suffer\nThe slings and arrows of outrageous fortune,\nOr to take Arms against a Sea of troubles,\nAnd by opposing end them: "

# Identifiers: variable names / function names 
1. can only start wit a letter ( A - Z a-z) or an underscore (_)
2. may or may not be followed by a ccombination of letter or underscore or digits (0 -9)
3. no special character allowed 
4. Case Senstive 
5. reserved words like class def if for in while else ... ( bold and green ) are not allowed --> error / exception
6. builtin function print len etc.... ( green ) should not be used

## examples of an identifier
* a 
* _ 
* _refksncj_bsjwbwbj12_232_hjhdjshd_bhbdhb

In [10]:
a = 12
a = 'String'

In [ ]:
last trace call

In [11]:
a

'String'

# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6

* point 1
1. point 2

In [2]:
print(dir()) # directory

['In', 'Out', '_', '_1', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i2', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'quit']

In [3]:
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

### help on builtins

In [6]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [7]:
?print

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [ ]:
# quick look at the syntax and the arguments use shift+tab after the command
print

In [9]:
message = "You can't rise above by pulling others down."

### message is an object of string type

In [10]:
type(message)

str

In [11]:
print(dir(message)) # methods associated with the string type object

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [12]:
message.upper()

"YOU CAN'T RISE ABOVE BY PULLING OTHERS DOWN."

## help for object associated methods

In [13]:
help(message.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [14]:
?message.upper

Signature: message.upper()
Docstring: Return a copy of the string converted to uppercase.
Type:      builtin_function_or_method

In [15]:
?upper

Object `upper` not found.

In [16]:
?print

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [17]:
message.capitalize()

"You can't rise above by pulling others down."

## Python Numbers

- int   any signed integer
- float any signed with decimel
- complex with real and imaginary part
- bool : True and False

In [18]:
a = 23
b = 34.45
c = 2 + 6j
d = True

In [19]:
print(type(a), type(b), type(c),(type(d)))

<class 'int'> <class 'float'> <class 'complex'> <class 'bool'>

In [20]:
c

(2+6j)

# type conversion

## all numeric format are interconvertible
- int --> float
- float --> int

In [21]:
int(23.54)

23

In [22]:
float(24)

24.0

In [23]:
complex(23)

(23+0j)

In [24]:
complex(23.45)

(23.45+0j)

In [25]:
float(23.4+4j)

TypeError: can't convert complex to float

In [26]:
int(23.4+4j)

TypeError: can't convert complex to int

In [27]:
bool(23)

True

In [28]:
bool(23.55)

True

In [29]:
bool(0)

False

In [30]:
bool(3+7j)

True

In [31]:
int(True)

1

In [32]:
float(True)

1.0

In [34]:
complex(True)

(1+0j)

## anything datatype ccan be converted to a string

In [35]:
str(12), str(34.55), str(3+5j), str(True)

('12', '34.55', '(3+5j)', 'True')

### str --> int, float, complex

In [36]:
int('12')

12

In [41]:
int('12a')

ValueError: invalid literal for int() with base 10: '12a'

In [39]:
int('12 4')

ValueError: invalid literal for int() with base 10: '12 4'

In [40]:
int('12.3')

ValueError: invalid literal for int() with base 10: '12.3'

In [42]:
float('12')

12.0

In [43]:
float('12.9')

12.9

In [44]:
float('12 a')

ValueError: could not convert string to float: '12 a'

In [45]:
float('12 3')

ValueError: could not convert string to float: '12 3'

In [49]:
complex('12+ 5j')

ValueError: complex() arg is a malformed string

In [50]:
complex('12+5j')

(12+5j)

In [51]:
bool('')

False

In [53]:
bool(' '), bool('as12')

(True, True)

In [54]:
## Arithemetic Operators
# + - / * 
# % modulus | remainder of a division
# // integer divide | quotient of a division int part of the result of division
# ** for exponent

In [55]:
47/3

15.666666666666666

In [56]:
47//3

15

In [57]:
47%3

2

In [58]:
# relational operators 
# > < >= <= == !=

In [59]:
# logical operators 
# and  &
# or |
# not  ~ !

In [60]:
# assignment operator
# a += 1. ===> a = a+1

# Data Structures

## 1. Sets : unordered collection unique data values

In [64]:
s1 = set() # creates an empty set
s2 = {'a','a','c',1,2,2,2,4,5,6}
print(s1,s2, sep='\n')

set()
{1, 2, 'a', 4, 5, 6, 'c'}

In [66]:
s2.add('d')
print(s2)

{1, 2, 'a', 4, 5, 6, 'c', 'd'}

In [67]:
s2.pop()

1

In [68]:
s2

{2, 4, 5, 6, 'a', 'c', 'd'}

In [69]:
s2.remove('a')
s2

{2, 4, 5, 6, 'c', 'd'}

In [70]:
s3 ={1,2,3,4,5,6}

In [71]:
s2.union(s3)

{1, 2, 3, 4, 5, 6, 'c', 'd'}

In [74]:
s2.intersection(s3)

{2, 4, 5, 6}

In [ ]:
s2.

In [76]:
len(s2)

6

## 2. Lists : ordered collection of data values as structure

In [75]:
empty_list = [] # list()
prime_numbers = [2,3,5,7,11,13,17,19,23]
collection = [1234, 'abcd', 12.344, True]
marks = [['a',1],['b',2], ['c',3],4,5,6]

In [78]:
# length or no data values within an object
len(empty_list), len(prime_numbers), len(collection), len(marks)

(0, 9, 4, 6)

### Indexing starts with 0

In [82]:
print(prime_numbers[0])# first element 
print(prime_numbers[1])
print(prime_numbers[3])

2
3
7

In [83]:
prime_numbers

[2, 3, 5, 7, 11, 13, 17, 19, 23]

In [85]:
## last element of a list
prime_numbers[-2]

19

In [93]:
temp = marks[0]
temp[0], marks[0][0]

('a', 'a')

In [94]:
marks

[['a', 1], ['b', 2], ['c', 3], 4, 5, 6]

In [97]:
marks[1][0]

'b'

## Slicing

In [98]:
prime_numbers[1]

3

prime_numbers[ start index : stop index]
start index : value is included and if left empty will by default 0
stop index  : value is excluded and if left empty will by default len(obj)

In [99]:
prime_numbers[ : ]

[2, 3, 5, 7, 11, 13, 17, 19, 23]

In [100]:
prime_numbers[1 : ]

[3, 5, 7, 11, 13, 17, 19, 23]

In [101]:
prime_numbers[ : 5]

[2, 3, 5, 7, 11]

In [102]:
prime_numbers[2:6]

[5, 7, 11, 13]

[start : stop : step]
step : start + step --> next
    next + step --> next

In [103]:
prime_numbers[1:9:2]# indices = 1 , 3, 5, 7

[3, 7, 13, 19]

In [104]:
# indices       0  1  2  3  4  5  6  7  8  9 10 11
another_list = [1,'a',2,'b',3,'c',4,'d',5,'e',6,'f']
# indices .    -12-11-10-9 -8 -7  -6 -5 -4 -3 -2-1

In [105]:
another_list[3]

'b'

In [106]:
another_list[1 : 7] # start : stop

['a', 2, 'b', 3, 'c', 4]

In [107]:
another_list[1 : 10 : 2]

['a', 'b', 'c', 'd', 'e']

## slicing using negative index

In [108]:
another_list [-5]

'd'

In [118]:
another_list[-1 : -11:-1 ] # step = 1 - +1 == 0

['f', 6, 'e', 5, 'd', 4, 'c', 3, 'b', 2]

In [116]:
another_list[ : : -1] # reverse of the list

['f', 6, 'e', 5, 'd', 4, 'c', 3, 'b', 2, 'a', 1]

In [114]:
another_list[2 : -7]

[2, 'b', 3]

In [122]:
l = [[1,2,3,4,5,6,7],32,3,4,]
l[0][:3]

[1, 2, 3]

## Methods

#### 1. Append : adds one element at the end of the list | element can any data

In [123]:
another_list.append(23)

In [124]:
another_list

[1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'f', 23]

#### 2. Extend : appends more than 1 element

In [125]:
another_list.extend([2,'a'])

In [126]:
another_list

[1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'f', 23, 2, 'a']

In [127]:
another_list.append([3,'b'])
another_list

[1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'f', 23, 2, 'a', [3, 'b']]

#### 3. insert : add one element to a particular index by shifting everthing to right

In [128]:
another_list.insert(5, 'insert')
(another_list)

[1,
 'a',
 2,
 'b',
 3,
 'insert',
 'c',
 4,
 'd',
 5,
 'e',
 6,
 'f',
 23,
 2,
 'a',
 [3, 'b']]

In [129]:
print(another_list)

[1, 'a', 2, 'b', 3, 'insert', 'c', 4, 'd', 5, 'e', 6, 'f', 23, 2, 'a', [3, 'b']]

#### 4. index : return index location of the first occurencce of the particular element

In [130]:
another_list.index('a')

1

In [132]:
# to get the indexx location of a particcular in a slice of the list
another_list.index('a',  3)

15

In [133]:
another_list.index('a',  3, 7)

ValueError: 'a' is not in list

#### 5. count : counts no. of occurences of a particular element

In [135]:
another_list.count('b')

1

#### 6. remove : remove the first occcurence of a particular element

In [136]:
another_list.remove(5) # value

In [137]:
another_list

[1, 'a', 2, 'b', 3, 'insert', 'c', 4, 'd', 'e', 6, 'f', 23, 2, 'a', [3, 'b']]

#### 7. pop : removes the element at a particular index and also returns the element

In [138]:
another_list.pop(6) # index

'c'

In [139]:
another_list

[1, 'a', 2, 'b', 3, 'insert', 4, 'd', 'e', 6, 'f', 23, 2, 'a', [3, 'b']]

In [141]:
another_list.reverse()

In [142]:
another_list

[[3, 'b'], 'a', 2, 23, 'f', 6, 'e', 'd', 4, 'insert', 3, 'b', 2, 'a', 1]

#### 9. sort : works only if the list contains either only numbers or only stringgs

In [144]:
numb = [12,34,1,54,23,78,89.654,34.23]
numb.sort()
numb

[1, 12, 23, 34, 34.23, 54, 78, 89.654]

In [145]:
numb = [12,34,1,54,23,78,89.654,34.23, True, False]
numb.sort()
numb

[False, 1, True, 12, 23, 34, 34.23, 54, 78, 89.654]

In [146]:
chara = ['a','arjun', 'jake', 'ellen', 'florida']
chara.sort()
chara

['a', 'arjun', 'ellen', 'florida', 'jake']

In [148]:
chara = ['a','arjun', 'jake', 'ellen', 'florida', True, False, 12]
chara.sort()
chara

TypeError: '<' not supported between instances of 'bool' and 'str'

In [154]:
l1 = [98,98,98,76,76,45,76]
l1.sort(reverse = True)
l1

[98, 98, 98, 76, 76, 76, 45]

In [151]:
list(set(l1))

[98, 76, 45]

In [153]:
l1 +another_list # new a list object

[45,
 76,
 76,
 76,
 98,
 98,
 98,
 [3, 'b'],
 'a',
 2,
 23,
 'f',
 6,
 'e',
 'd',
 4,
 'insert',
 3,
 'b',
 2,
 'a',
 1]

## Modify an element in list

In [156]:
another_list[5] = 'modify'

In [157]:
another_list

[[3, 'b'], 'a', 2, 23, 'f', 'modify', 'e', 'd', 4, 'insert', 3, 'b', 2, 'a', 1]

In [158]:
l1 = [2,4,6,8,10]

In [160]:
lcopy = l1 # shallow copy

In [161]:
l1[2] = 'change'

In [162]:
l1

[2, 4, 'change', 8, 10]

In [163]:
lcopy

[2, 4, 'change', 8, 10]

In [164]:
id(l1)

139669257895112

In [165]:
id(lcopy)

139669257895112

In [166]:
lcopy_2 = l1.copy()# deep copy

In [167]:
l1[3] = 'change2'

In [168]:
lcopy_2

[2, 4, 'change', 8, 10]

In [169]:
id(lcopy_2)

139669258056136

## 3. Tuples : immutable ordered collection of data values / python objects

In [170]:
# multiple assignments :
v1 = 23 
v2  = 34.56
v3 = 'diff'

In [171]:
v1,v2, v3 = 23, 34.56, 'diff'

In [ ]:
numbers and strings

In [172]:
mess = 'Nimisha Pandey'

In [173]:
id (mess)

139669257483504

In [177]:
mess_2 = mess.upper()
mess_2

'NIMISHA PANDEY'

In [180]:
tup = ( 'string' )

In [181]:
type(tup)

str

## no. of elements on right = no. of identifiers on the left , corresponding assignment is done

In [182]:
v1,v2 = (32, 45)

In [183]:
v1

32

In [184]:
v2

45

In [185]:
v1, v2 = [23,45]

In [188]:
v1

23

In [189]:
v2

45

In [192]:
empty_tuple = ()
tup1 = (2)
single_element = (1 , )
tup = (1,2,'a',34,1,2)

In [193]:
empty_tuple

()

In [194]:
tup1

2

In [196]:
type(single_element)

tuple

In [197]:
tup

(1, 2, 'a', 34, 1, 2)

In [198]:
tup[3] = 'we' # immmutabilty

TypeError: 'tuple' object does not support item assignment

In [199]:
a = 10
id(a)

94350057583936

In [200]:
a =a+1

In [201]:
id(a)

94350057583968

In [202]:
id(another_list)

139669258652488

In [203]:
another_list.append('add')

In [205]:
another_list[3] = 22

In [206]:
id (another_list)

139669258652488

# 4. Dictionaries : unordered collection of key value pairs 
### key : immutable python object generally strings or numbers
### value : any arbitrary Python object string nummber list tuple dict

In [207]:
empty_dict = {} # dict()

In [208]:
employee = {'Name' : 'Nimisha Pandey', 'Exp': 6 , 'Designation': 'Lead Trainer'}

In [209]:
employee

{'Name': 'Nimisha Pandey', 'Exp': 6, 'Designation': 'Lead Trainer'}

## in a dict keys are to be unique

In [210]:
employee_2 = {'Name' : 'Nimisha', 'Name':'Nimisha Pandey'}
# last vvalue will taken up

In [211]:
employee_2

{'Name': 'Nimisha Pandey'}

In [213]:
hr = {'Name' : ['Nimisha','Sankalp','Shubham','Arpita'],
     'Age' :[33,26,35,32],
     'Exp' : [6,4,10,6],
     4 : [1,2]}

In [214]:
hr.keys()

dict_keys(['Name', 'Age', 'Exp', 4])

In [215]:
hr.values()

dict_values([['Nimisha', 'Sankalp', 'Shubham', 'Arpita'], [33, 26, 35, 32], [6, 4, 10, 6], [1, 2]])

In [216]:
hr.items()

dict_items([('Name', ['Nimisha', 'Sankalp', 'Shubham', 'Arpita']), ('Age', [33, 26, 35, 32]), ('Exp', [6, 4, 10, 6]), (4, [1, 2])])

### Accessing the values

In [218]:
employee['Name']

'Nimisha Pandey'

In [221]:
hr[4]

[1, 2]

### Add / update an element in the dict

In [223]:
employee['Name'] = 'Mrs. Nimisha Pandey'

In [224]:
employee

{'Name': 'Mrs. Nimisha Pandey', 'Exp': 6, 'Designation': 'Lead Trainer'}

In [225]:
employee['Organization'] = 'Simplilearn'

In [226]:
employee

{'Name': 'Mrs. Nimisha Pandey',
 'Exp': 6,
 'Designation': 'Lead Trainer',
 'Organization': 'Simplilearn'}

In [229]:
employee.update({'Name' : 'Ms. Nimisha', 'Location':'India'})

In [230]:
employee

{'Name': 'Ms. Nimisha',
 'Exp': 6,
 'Designation': 'Lead Trainer',
 'Organization': 'Simplilearn',
 'Location': 'India'}

In [233]:
hr['Name'][1]= "Update"

In [234]:
hr

{'Name': ['Nimisha', 'Update', 'Shubham', 'Arpita'],
 'Age': [33, 26, 35, 32],
 'Exp': [6, 4, 10, 6],
 4: [1, 2]}

## remove elements`

In [236]:
hr.pop(4)

[1, 2]

In [237]:
hr

{'Name': ['Nimisha', 'Update', 'Shubham', 'Arpita'],
 'Age': [33, 26, 35, 32],
 'Exp': [6, 4, 10, 6]}

In [239]:
hr.popitem()

('Exp', [6, 4, 10, 6])

In [240]:
hr

{'Name': ['Nimisha', 'Update', 'Shubham', 'Arpita'], 'Age': [33, 26, 35, 32]}

In [241]:
hr.popitem()

('Age', [33, 26, 35, 32])

In [242]:
hr

{'Name': ['Nimisha', 'Update', 'Shubham', 'Arpita']}

In [243]:
del(hr['Name'][1])

In [244]:
hr

{'Name': ['Nimisha', 'Shubham', 'Arpita']}

### Brackets in Python
1. ( ) - Paranthesis 
    * creating tuples
    * with functions 
2. [] - Square Brackets
    * creating list
    * pass indices / keys
3. { } - Curly Brackets
    * creation of set
    * create dictionary

# Conditional Statements : Decision Making

if expression :
    statements if expression true
    statement1
    statement2
    statement3
else : (optional)
    statements if expression is false
    statement1
    statement2
    statement3

In [245]:
# if a number is even in that case compute square and cube 
# if the number is odd in that case give the multiply of the number with 6 and 10

In [250]:
# input from the user 
value = int(input('Please Enter a Number : '))

Please Enter a Number :  34

In [251]:
value, type(value)

(34, int)

In [268]:
# assuming the number is positive an non zero 
if value % 2 == 0 : print('Even')
else : print('Odd')

Even

In [257]:
if value % 2 == 0 :
    res1 = pow(value, 2)
    res2 = pow(value,3)
else :
    res1 = value * 6
    res2 = value * 10

In [259]:
value ,res1, res2

(34, 1156, 39304)

In [ ]:
# marks for grading
# above 90 ---> A
# 75 - 90  ---> B
# 55 - 75  ---> C
# 35 - 55  ---> D
# below 35 ---> F

In [262]:
marks = float(input('Please enter your marks : '))
if marks >= 90 : 
    grade = 'A'
elif marks >= 75:
    grade ='B'
elif marks >= 55:
    grade = "C"
elif marks >= 35:
    grade = "D"
else :
    grade = "F"
grade

Please enter your marks :  96

'A'

ppl belonging countries : India China Russia  : info1 info2 info3 
for others : info4 info5 info6

In [265]:
countries = ['India', 'China', 'Russia']
country = input('Please Enter Your Country')
if country.capitalize() in countries:
    print('please input info1,info2, info3')
else :
    print('please input info4,info5, info6')

Please Enter Your Country india

True

In [267]:
'India' == 'india'.capitalize()

True

In [272]:
value = 98
if value%2 == 0: print('even')
print('Bye')

even
Bye

## and or --> logical operator

if a number is divisible by 2 and 3
then find cube
else find square

In [277]:
value = 6
if (value % 2 == 0)  and (value%3 ==0):
    print(pow(value,2))
else :
    print(pow(value,3))

36

In [ ]:
dataframe & and |

In [279]:
True or False

True

In [280]:
# Rock Paper Scissor 
# Rock crushes scissor
# Scissor cuts Paper
# Paper covers Rock

Take input the name of the player and the choice
at the end declare winner with congratulatory message